node_modules
.env
coverage
coverage.json
typechain
typechain-types

local_scripts
testnet_scripts
mainnet_scripts
nodesale_scripts

contracts/test
contracts/aggregators

local_test

#Hardhat files
cache
artifacts

.idea
